<!DOCTYPE html>
<html>
    <head>
        <title>Add Player</title>
        <meta chrset='utf-8'>
        <meta name='viewport' content='width=device-width,initial-scal=1.0'>
        <link rel='stylesheet' href='/css/addpage.css'>
    </head>
    <body>
        <h4>Add New Player</h4>
        <main>
            <form action='/add' method='post'>
            <h5>Name of Player</h5> 
            <input type="text" name='pname'>
            <button>Submit</button>
            </form>
        </main>

    </body>

</html>