<!DOCTYPE html>
<html>
    <head>
        <title>Check Players' Score</title>
        <meta charset='utf-8'>
        <link rel='stylesheet' href='/css/checkpage.css'>
    </head>
    <body> 
        <h4>Check Players' Score</h4>
        <main>
            <table>
                <tr>
                    <th>Player Name</th>
                    <th>Score</th>
                </tr>
                <% players.forEach((p)=>{%>
                    <tr>
                        <td><%= p.name %></td>
                        <td><%= p.score %></td>
                    </tr>
                <%})%>
            </table>
            <form action='/'>
            <button>Back</button>
            </form>
        </mainn>
    </body>
</html>