<!DOCTYPE html>
<HTML>
    <head>
        <title>Home Page</title>
        <meta charset='utf-8'>
        <link rel="stylesheet" href="/css/HomePage.css">
    </head>
    <body>
        <header>
            <h3>Crick11</h3>
            <h4>Welcome User!</h4>
        </header>
 
        <main>
            
            <ul>
                <li class='c1'>
                    <a href='/check'>
                    <img src='/images/box1.png'>
                    <h5>Check Score</h5>
                    </a>
                </li>

                <li class='c2'>
                    <a href='/add'>
                    <img src='/images/box2.png'>
                    <h5>Add Player</h5>
                    </a>
                </li>

                <li class='c3'>
                    <a href='/update'>
                    <img src='/images/box1.png'>
                    <h5>Update Score</h5>
                    </a>
                </li>
            </ul>
        </main>
    </body>
</HTML>