body{
    background-color: ivory;
    text-align: center;
}

h4{
    font-size: 40px;   
}

main{
    padding-left: 350px;
}

table,th,td{
    border: solid 2px black;
    border-collapse: collapse;
    padding:8px;
    background-color: white;
}

td{
    font-size: 20px;
    padding:6px;
}

table{
    width:60%;
}